{% extends 'base.html' %}

{% block extrahead %}

<style type="text/css">
/********* blog stylee **************/
div.sitelabel {
    font-family: 'Nothing You Could Do', cursive;
    font-size: xx-large;
    color: black;
    text-align: right;
    background: #4b5b18;
    background-image: -webkit-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
    background-image: -moz-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
    background-image: -ms-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
    background-image: -o-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
    z-index: 2;
}
div.sitelabel a {
    color: black;
}
div.contents hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 0;
    height: 5px;
    background: #4b5b18;
    background-image: -webkit-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
    background-image: -moz-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
    background-image: -ms-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
    background-image: -o-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
}
p img {
    max-height: 200px;
}
div.posttitle {
    font-family: 'Luckiest Guy', cursive;
}
div.postsubtitle {
    font-family: 'Dosis', sans-serif;
    position: relative;
    left: 70px;
    bottom: -5px;
    font-size: small;                
}
div.postauthor {
    float: right;
    font-size: x-small;
    font-family: 'Dosis', sans-serif;
}
div.postcontent {
    font-size:medium;
}
div.postcontent img {
    float: right;
    clear: right;
    margin: 15px;
    width: 30%;
    height: auto;
    box-shadow: 7px 7px 20px;
}
div.followinglink {
    float: left;
    font-size: small;
}
div.previouslink {
    float: right;
    font-size: small;
}
div.morelink {
    width: 100%;
    text-align: center;
    font-size: small;
}
</style>
<script type="text/javascript">
function zoom_image(img) {
    let w = window.open('about:blank');
    let image = new Image();
    image.src = img.src;
    setTimeout( ()=>{ 
        w.document.write(image.outerHTML); 
        w.document.close(); 
    }, 0);
}
</script>

{% endblock %}
