{% extends 'blog_v1/base.html' %}

{% block contents %}
  {% for post in posts %}
    <div>
      <div class="posttitle">
        {{ post.title }}
        <div class="postauthor">
          <i>
            @{{ post.creator.username }} ::
            <a href="{{ post.get_absolute_url }}">{{ post.created }}</a>
          </i>
        </div>
      </div>

      <br />
      {{ post.contents.first.content.html|safe }}
      {% if post.contents.count > 1 %}
        <div class="morelink">
          <a href="{{ post.get_absolute_url }}">read more..</a>
        </div>
      {% endif %}
    </div>
    <hr />
  {% endfor %}
{% endblock %}
