{% extends 'blog_v1/base.html' %}

{% block contents %}
  <!-- menu? -->
  <hr />
  {% for post in posts %}
    <div class="postlistitem {% cycle 'even' 'odd' %}">
      <div class="postlisttitle">
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </div>
      <div class="postlistcontent">
        {% if post.contents.count %}
          {{ post.contents.first.content.plain|slice:"0:100" }}
          {% if post.contents.count > 1 or post.contents.first.content.plain|length > 100 %}
            <a href="{{ post.get_absolute_url }}">read more..</a>
          {% endif %}
        {% endif%}
      </div>
      <div class="postlistauthor">
        @{{ post.created_by.username }}
      </div>
      <div class="postlistcreated">
        <a href="{{ post.get_absolute_url }}/detail/">
          {{ post.created|date:"l, F jS 'y" }}
        </a>
      </div>
    </div>
  {% endfor %}
  <hr />
{% endblock %}
