{% extends 'blog_v1/base.html' %}
{% load mbme %}

{% block title %}
  {% if post.subtitle %}
    mbme | {{ post.subtitle }}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block contents %}
  <div>
    <div class="posttitle">
      {{ post.title }}
      <div class="postsubtitle">
        {% if post.subtitle %}
          {{ post.subtitle }}
        {% else %}
          {% random_fortune "short" "all" %}
        {% endif %}
      </div>
      <div class="postauthor">
        <i>
          @{{ post.created_by.username }} ::
          <a href="{{ post.get_absolute_url }}/detail/">{{ post.created }}</a>
        </i>
      </div>
      <div class="posttags">
        {% for tag in post.tags.all %}
          {% if not forloop.first %}&middot;{% endif %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> 
        {% endfor %}
      </div>
    </div>
    <hr />
    {% if full %}
      {% for contents in post.contents.all %}
        <div class="postwrapper">
          <div class="postcontent">
            {{ contents.content.html|image_click:'zoom_image(this)'|safe }}
          </div>
          {% if forloop.first %}
            <div class="postlinks">
              <div class="followinglink rellink">
                {% if following.count > 0 %}
                  <a href="{{ following.first.get_absolute_url }}">᚜ {{ following.first.title }}</a>
                {% endif %}
              </div>
              <div class="morelink"> </div>
              <div class="previouslink rellink">
                {% if previous.count > 0 %}
                  <a href="{{ previous.first.get_absolute_url }}">{{ previous.first.title }} ᚛</a>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
        {% comment %} </div> {% endcomment %}
        <hr />
      {% endfor %}
    {% else %}
      <div class="postwrapper">
        <div class="postcontent">
          {{ post.contents.first.content.html|image_click:'zoom_image(this)'|safe }}
        </div>
        <div class="postlinks">
          <div class="morelink rellink">
            {% if post.contents.count > 1 %}
              <a href="{{ post.get_absolute_url }}/detail">read more..</a>
            {% endif %}
          </div>
          <div class="followinglink rellink">
            {% if following.count > 0 %}
              <a href="{{ following.first.get_absolute_url }}">᚜ {{ following.first.title }}</a>
            {% endif %}
          </div>
          <div class="previouslink rellink">
            {% if previous.count > 0 %}
              <a href="{{ previous.first.get_absolute_url }}">{{ previous.first.title }} ᚛</a>
            {% endif %}
          </div>
        </div>
      </div>
      <hr />
    {% endif %}
  </div>
{% endblock %}
