{% load static %}
{% load mbme %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% font_links %}
    <title>
      {% block title %}
      mbme | {% random_fortune 'short' %}
      {% endblock %}
    </title>
    <!-- html and css written by hand. -->
    {% block style %}
    {% include "blog_v1/css.html" %}
    <link rel="stylesheet" href="{% url 'mbme:stylesheet' template_name='base' %}" />
    <link rel="stylesheet" href="{% url 'mbme:stylesheet' template_name='fb' %}" />
    {% endblock %}
    {% block js %}
    <script src="{% url 'mbme:script' template_name='fb' %}"></script>
    {% endblock %}
    {% block extrahead %}

    {% endblock %}
  </head>

  <body>
    <div class="page">
      {% block header %}
      <div class="site_label">
        <ul class="site_nav">
          {% for np in blog.nav.top %}
          <li>
            <a href="{{ np.get_absolute_url }}">
              {{ np.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        <a href="{% url 'mbme:index' %}">mattbarry.me</a>
      </div>
      {% endblock %}
      <div class="contents" id="contents">
        {% block contents %}
        {% lorem %}
        {% endblock %}
      </div>
      {% block footer %}
      <div class="top part">
        <div class="sig"><span>Matt Barry</span></div>
        <div>
          <img src="https://hazelmollusk.org/hmcg-hand-small.png" id="hand" />
        </div>
        <div>
          <div class="sig">
            <a href="https://hazelmollusk.org/~matt/resume/matt-barry.pdf">Technologist</a>
            | <a href="https://hazelmollusk.org">Discordian</a>
          </div>
          <div>
            <a class="gpg" href="{% static 'id/matt.barry.pub' %}">rsa4096 623B9DDEA58C5F8EA75F152DCE4816EBB84CE8BD</a>
          </div>
        </div>
      </div>
      <div class="bottom part site_nav_end">
        <ul class="site_nav_end">
          {% for np in blog.nav.end %}
          <li>
            <a href="{{ np.get_absolute_url }}">
              {{ np.title }}
            </a>
          </li>
          {% endfor %}
            {% if user.is_anonymous %}
            <li><a href="{% url 'auth:login' %}">login</a></li>
            {% else %}
            <li><a href="{% url 'auth:profile' %}">profile</a></li>
            <li><a href="{% url 'auth:logout' %}">logout</a></li>
            {% endif %}
        </ul>
      </div>
      <div class="bottom part social_links">
        <a href="mailto:matt.removeme@removeme.hazelmollusk.org"><img src="{% static 'icons/email.png' %}"
            class="social" /></a>
        <a href="https://www.linkedin.com/in/matt-barry-916225/"><img src="{% static 'icons/li.png' %}"
            class="social" /></a>
        <a href="https://github.com/zaharazod/"><img src="{% static 'icons/gh.png' %}" class="social" /></a>
        <a href="https://mattbarry.me"><img src="{% static 'icons/blog.png' %}" class="social" /></a>
        <a href="{% url 'blog_v1:rss' %}"><img src="{% static 'icons/rss.png' %}" class="social" /></a>
        <a href="https://www.twitch.tv/zaharazod"><img src="{% static 'icons/twitch.png' %}" class="social" /></a>
        <a href="https://www.quora.com/profile/Matt-Barry-43"><img class="social" src="{% static 'icons/quora.png' %}"
            class="social" /></a>
        <a href="https://facebook.com/realMattBarry"><img src="{% static 'icons/fb.png' %}" class="social" /></a>
        <a href="https://salsa.debian.org/zaharazod"><img src="{% static 'icons/deb.png' %}" class="social" /></a>
        <a href="https://hazelmollusk.org"><img class="social" src="{% static 'icons/oct.png' %}" class="social" /></a>
        
      </div>

      {% endblock %}
    </div>
  </body>

</html>
