/*{% load static %}*/
body {
  margin: 0;
  padding: 0;
}

pre {
  font-family: 'Space Mono', 'VT323', monospace;
  font-size: medium;
  font-weight: bold;
  background-color: #4b5b18;
  padding: 10px;
  border: 5px ridge darkslategrey;
  border-radius: 10px;
  margin: 20px;
}

.debug {
  display: none;
  white-space: pre;
  font-family: monospace;
}

.page {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

div.site_label {
  font-family: 'Nothing You Could Do', cursive;
  font-size: xx-large;
  color: black;
  text-align: right;
  background: #4b5b18;
  background-image: -webkit-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
  background-image: -moz-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
  background-image: -ms-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
  background-image: -o-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
  z-index: 2;
  padding-right: 3%;
}

ul.site_nav {
  float: left;
  list-style-type: none;
  margin: 3px;
  padding: 0px;
}

ul.site_nav li {
  margin: 6px;
  float: left;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  font-size: x-large;
  vertical-align: middle;
}


div.site_nav_end {
  display: flex;
  clear: both;
  width: 100%;
  align-content: center;
  margin: none;
  padding: none;
}

ul.site_nav_end {
  float: left;
  list-style-type: none;
  margin: 3px;
  padding: 0;
  color: white;
}

ul.site_nav_end li {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  padding: 2px;
  vertical-align: middle;
}

ul.site_nav_end li a {
  color: #a9a978;
  font-size: small;
  font-family: 'Jura', sans-serif;
  text-transform: lowercase;
}


ul.site_nav_end li a:hover {
  color: white;
}

div.contents {
  padding-left: 5%;
  padding-right: 5%;
}

.coda {
  flex-grow: 1;
  margin: 0;
  padding: 5px;
  align-items: flex-end;
  font-family: 'Black Ops One', cursive;
  background: transparent;
}

.part {
  text-transform: lowercase;
  text-align: center;
  justify-content: center;
}

.central {
  background-color: #a9a978;
  background-image: url("{% static 'images/octoon-bg.png' %}");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.contents {
  font-family: 'DM Sans', sans-serif;
  font-size: x-large;
  padding: 10px;
}

.bottom {
  border-top: 5px ridge darkslategrey;
  background-color: #4b5b18;
  align-items: flex-start;
  display: flex;
  padding-bottom: 11px;
}

.social_links {
  border: none;
}

#hand {
  padding: 5px;
  height: 42px;
  width: auto;
}

.social {
  height: 24px;
  width: auto;
}

a,
a:visited {
  color: #4b5b18;
  padding: 6px;
  text-decoration: none;
}

.coda a:hover, .site_nav a:hover {
  border: 2px ridge darkslategrey;
  border-radius: 20px;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom right, #2d360f, #696f8b);
  color: white;
}

a.gpg {
  font-family: 'Jura', sans-serif;
}

ul.site_nav li a {
  font-family: 'Courier Prime', serif;
  /* font-family: 'Black Ops One', cursive; */
  text-transform: lowercase;
  font-weight: bold;
  color: black;
  font-size-adjust: +1;

  -webkit-text-fill-color: #a9a978;
  -webkit-text-stroke: 1px black;

  /* font-variant: small-caps; */
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  background: transparent;
}

ul.site_nav li a:hover {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;

}
.fortune {
  color: #444529;
  font-family: 'Caveat', script;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 16pt;
  width: 100%;
  text-align: center;
}
.tuhi-page {
  color: #444529;
}
.tuhi-page h1 {
  font-family: 'Caveat', script;
}
.tuhi-section {
  padding-left: 5%;
  font-family: 'Josefin Sans', sans-serif;
  color: #4b5b18;
}
.tuhi-section h2 {}
.tuhi-content {}
