/********* blog stylee **************/

div.contents div.post_content {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
div.contents hr {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 0;
  height: 2px;
  background: #4b5b18;
  background-image: -webkit-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
  background-image: -moz-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
  background-image: -ms-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
  background-image: -o-linear-gradient(left, #a9a978, #4b5b18, #a9a978);
}
p img {
  max-height: 200px;
}
div.post_title {
  font-family: 'Black Ops One', cursive;
  padding-left: 10%;
}
div.post_subtitle {
  font-family: 'Dosis', sans-serif;
  position: relative;
  left: 70px;
  bottom: -5px;
  font-size: small;
  color: #444;
  max-width: 66%;
}
div.post_author {
  font-size: small;
  font-family: 'Dosis', sans-serif;
  margin-top: 15px;
  margin-bottom: 5px;
  float: right;
  margin-left: 3%;
  margin-right: 18%;
  padding: 0px;
  vertical-align: bottom;
}
div.post_tags {
  font-size: small;
  font-family: 'Dosis', sans-serif;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0px;
  vertical-align: bottom;
  float: left;
  margin-left: 10%;
}
div.post_content {
  font-size: medium;
}
div.post_content img {
  float: right;
  clear: right;
  margin: 15px;
  width: 30%;
  height: auto;
  box-shadow: 7px 7px 20px;
}
div.post_links {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
div.following_link {
  float: left;
  font-size: small;
}
div.previous_link {
  float: right;
  font-size: small;
}
div.more_link {
  width: 100%;
  text-align: center;
  font-size: small;
}
div.post_list_item {
  display: table-row;
  width: 100%;
  padding-bottom: 16px;
}
div.post_list_item.odd div {
  background-color: #90a059;
}
div.post_list_item div {
  display: table-cell;
}
div.post_list_title {
  font-family: 'Black Ops One', cursive;
  font-size: medium;
  width:20%;
}
div.post_list_content {
  font-size: medium;
  width: 60%;
}
div.post_list_author {
  font-size: small;
  font-style: italic;
}
div.post_list_created {
  font-size: small;
  font-style: italic;
}
